<h1>タスク編集画面</h1>

<%= form_with model:@task, local:true do |f| %>
  <table class ="table">
      <tr>
        <td><%= f.label :タスク名 %></td>
        <td><%= f.text_field :task_name, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.label :タスク概要 %></td>
        <td><%= f.text_area :task_summary %></td>
      </tr>
      <tr>
        <td><%= f.label :締め切り日 %></td>
        <td><%= f.date_field :deadline %></td>
      </tr>
      <tr>
        <td><%= f.label :ステータス %></td>
        <td><%= f.select :status, Task.statuses.keys %></td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit "タスクを編集する" %>
    </div>
    <% end %>