<h2>タスク詳細</h2>

<table class ="table">
  <tr>
    <td>タスク名</td>
    <td><%= @task.task_name %></td>
  </tr>
  <tr>
    <td>タスク概要</td>
    <td><%= @task.task_summary %></td>
  </tr>
  <tr>
    <td>締め切り日</td>
    <td><%= @task.deadline %></td>
  </tr>
  <tr>
    <td>予定時間</td>
    <td><% @task.scheduled_time %></td>
  </tr>
  <tr>
    <td>実績時間</td>
    <td><%= @task.actual_time %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'タスク編集へ', edit_task_path(@task.id), class:"btn btn-primary" %>
<%= link_to 'タスクを削除する', task_path(@task.id),method: :delete, data: { confirm: "本当に削除してもよろしいですか。（復元はできません。）" }, class:"btn btn-primary" %>

<%= link_to '記事投稿へ', new_article_path(task_id: @task.id), class:"btn btn-primary" %>
