<h1>投稿記事一覧</h1>

<table class ="table table-sortable">
    <thead>
      <tr>
      <th>タイトル</th>
      <th>説明欄</th>
      <th>ジャンル</th>
      <th>作成者</th>
      </tr>
    </thead>
    <body>
    <% @articles.each do |article| %>
      <tr>
      <td><%= article.title %></td>
      <td><%= article.explanation %></td>
      <td><%= article.genre %></td>
      <td><%= article.user.nickname %></td>
      <td><%= link_to "記事詳細へ", article_path(article)%></td>
    <% end %>
    </body>
</table>