<h1>記事投稿</h1>
<!--エラーメッセージ-->
<% if @article.errors.any? %>
  <div id="error_explantion">
    <div class="alert-position">
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_with model:@article, method: :post, local:true do |f| %>
  <div class="field">
    <%= f.label :タイトル %><br />
    <%= f.text_field :title, size:"60x1" %>
  </div>
  <div class="field">
    <%= f.label :tag_name, "タグ" %><br />
    <%= f.text_field :tag_name, size:"60x1", placeholder: "半角スペーズでタグを区切ることができます。(例:ruby rails)" %>
  </div>
  <div class="field">
    <%= f.label :説明欄 %><br />
    <%= f.text_area :explanation, size:"60x10" %>
  </div>
  <div class="actions">
    <%= f.submit "記事作成" %>
  </div>
<% end %>
