<h1>記事投稿</h1>

<%= form_with model:@article, method: :post, local:true do |f| %>
  <div class="field">
    <%= f.label :タイトル %><br />
    <%= f.text_field :title, size:"60x1" %>
  </div>

  <div class="field">
    <%= f.label :tag_name, "タグ" %><br />
    <%= f.text_field :tag_name, size:"60x1", placeholder: "半角スペーズでタグを区切ることができます。(例:ruby rails)" %>
  </div>

  <div class="field">
    <%= f.label :説明欄 %><br />
    <%= f.text_area :explanation, size:"60x10" %>
  </div>

  <div class="actions">
    <%= f.submit "記事作成" %>
  </div>
<% end %>
