<h1><%= current_user.nickname %>さんのマイページです</h1>

<%= link_to 'プロフィール編集画面へ', edit_user_path(current_user.id), class: "profile" %>

<h2>投稿記事一覧</h2>
<% if @articles.exists? %>
  <% @articles.each do |article| %>
    <div class ="article-box">
      <div class ="article-box1">
        <h2 class ="article_title"><%= link_to article.title, article_path(article) %></h2>
      </div>
      <span class ="article-box2">投稿者：<%= article.user.nickname %>　投稿日：<%= article.created_at.strftime("%Y年%m月%d日") %>　更新日：<%= article.updated_at.strftime("%Y年%m月%d日") %></span><br>
      <% article.tags.each do |tag| %>
        <span class ="tag_name">#<%= link_to tag.tag_name, articles_path(tag_id:tag.id) %></span>
      <% end %><br>
      <span id ="favorite-btn_<%= article.id %>" class="favorite-comment">
        <%= render partial: 'favorites/favorite-btn', locals: { article: article} %>
      </span>
      <span>コメント数：<%= article.article_comments.count %>件</span>
    </div>
  <% end %>
<% else %>
 <h5>投稿記事は存在しません。記事投稿は<%= link_to 'こちら',new_article_path %>から。</h5>
<% end %>
