<!DOCTYPE html>
<html>
  <head>
    <title>WithTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='calendar.css' rel='stylesheet' />

  </head>

  <body data-turbolinks="false">
    <div class="fix-wrapper">
  <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flash' %>
        <% if user_signed_in? %>
          <div class="col-lg-3">
            <%= render 'layouts/sidemenu' %>
          </div>
          <div class="col-lg-9">
            <%= yield %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
